.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar h2 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar h2:hover {
  color: #ffb703;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 3px;
  border-radius: 20px;

  background: linear-gradient(90deg, #ff7b00, #ff4d6d);
  transition: width 0.3s ease;
}

.links a:hover {
  color: #ffd166;
}

.links a:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #ff7b00, #ff4d6d);
  color: white;

  font-size: 1.5rem;
  cursor: pointer;

  transition: 0.3s ease;
}

.menu-btn:hover {
  transform: scale(1.08);
}

/* موبایل */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    position: absolute;
    top: 90px;
    left: 5%;
    right: 5%;

    flex-direction: column;
    gap: 22px;

    padding: 30px;

    background: rgba(58, 35,25 , 0.85);
    backdrop-filter: blur(16px);

    border-radius: 24px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);

    transition: 0.35s ease;
  }

  .links.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .links a {
    font-size: 1.1rem;
  }
}